#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#

NODE_ENV=development

TOKEN=

API_HOST=
API_AUTH=

MESSAGE_HANDLING=true # Set false = no handling